/* Existing styles */
.navigation-panel {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navigation-panel p {
  font-style: italic;
  margin: 0;
}

.navigation-panel a {
  text-decoration: none;
  color: #007bff;
}

.navigation-panel a:hover {
  text-decoration: underline;
}

/* Existing product-details styles */
.product-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.product-image {
  flex: 1;
  padding-right: 20px;
  margin-right: 20px;
}

.product-image img {
  width: 100%;
  height: 100%;
}

.product-attributes {
  flex: 1;
}

.product-attributes h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-attributes p {
  margin: 5px 0;
}

.product-attributes a {
  color: blue;
  text-decoration: none;
}

.product-attributes a:hover {
  text-decoration: underline;
}

/* New styles for the buttons */
.details-container {
  margin-top: 10px;
}

.product-buttons {
  display: flex;
  gap: 10px; /* Add space between the buttons */
  margin-top: 10px; /* Add margin to the top of the buttons container */
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

button .unfilled-heart-icon:before {
  content: '\2661'; /* Unicode for unfilled heart */
  margin-right: 5px;
}

button .filled-heart-icon:before {
  content: '\2665'; /* Unicode for filled heart */
  margin-right: 5px;
}

button .cart-icon:before {
  content: '\1F6D2'; /* Unicode for shopping cart */
  margin-right: 5px;
}

button.active {
  background-color: var(--color-o); /* Change background color when active */
}
