.navigation-panel {
  background-color: #f4f4f4;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.navigation-panel p {
  font-style: italic;
  margin: 0;
}

.navigation-panel a {
  text-decoration: none;
  color: #007bff;
}

.navigation-panel a:hover {
  text-decoration: underline;
}
/* styles.css */
.product-details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.product-image {
  flex: 1;
  padding-right: 20px;
}
.product-image img{
  width: 100%;
  height: 100%;
}

.product-attributes {
  flex: 1;
}

.product-attributes h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-attributes p {
  margin: 5px 0;
}

.product-attributes a {
  color: blue;
  text-decoration: none;
}

.product-attributes a:hover {
  text-decoration: underline;
}
